@media (max-width: 576px) {
    /* Hide in mobile view */
    .invisible-sm {
      visibility: hidden !important;
      height: 0 !important;
      width: 0 !important;
      padding: 0 !important;
    }
}